*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #c0b9d5;
    background-color: #28212e;
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,a {
    color: #7f6298;
}
h1{
    font-size: 50px;
    padding-top: 50px; 
}
h2{
    font-size: 30px; 
}
h3{
    margin:30px 0 5px 0;
    
}
ul{
    list-style-type: circle;
}
.foto{
    width: 150px;
    border-radius: 50%;
    float: left;
    border: 2px solid #c0b9d5;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.icon{
    width: 18px;
}
#kontakt{
    font-size: 25px;
    padding:0 10% 50px 10%;
}
#kontakt a{
    text-decoration: none;
    margin: 20px;
}
a:visited{
    color: #807799 
}
a:hover{    
    color: #c0b9d5;
}
header, section{
    padding:0 10% 50px 10%;
}
#paticka{
    padding: 20px;
    border-top: 1px solid #c0b9d5;
    font-style: italic;
    text-align: right;
}