*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #c0b9d5;
    background-color: #28212e;
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,a {
    color: #7f6298;
}
h1{
    font-size: 50px;
    margin: 40px 0 0 120px; 
}
h2{
    font-size: 30px;
    margin: 0 0 20px 120px; 
}
h3{
    margin:30px 0 5px 0;
    
}
ul{
    list-style-type: circle;
}
.foto{
    width: 150px;
    border-radius: 50%;
    float: left;
    border: 2px solid #c0b9d5;
    margin-left: 120px ;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.icon{
    width: 18px;
}
#kontakt{
    margin: auto;
    font-size: 25px;
}
#kontakt a{
    text-decoration: none;
    margin: 20px;
}
a:visited{
    color: #807799 
}
a:hover{    
    color: #c0b9d5;
}
section{
    margin:0 0 50px 120px;
}
#paticka{
    margin: 0;
    padding: 15px 0 15px 40px;
    border-top: 1px solid #c0b9d5;
}